{% load static %}

<header class="header">
    <div class="container container--narrow">
      <a href="{% url 'home' %}" class="header__logo">
        <img style="width:50px;height:50px; " src="{%  static 'images/image/logos.png' %}" alt=""  />
      </a>
      <nav class="header__nav">
        <input type="checkbox" id="responsive-menu" />
        <label for="responsive-menu" class="toggle-menu">
          <span>Menu</span>
          <div class="toggle-menu__lines"></div>
        </label>
        <ul class="header__menu">
          <li class="header__menuItem"><a href="{% url 'home' %}">Home</a></li>
          <li class="header__menuItem"><a href="{% url 'profiles' %}">Find a Tutor</a></li>
          
          {% if request.user.is_authenticated %}
          <li class="header__menuItem"><a href="{% url 'inbox' %}">Inbox</a></li>
          <li class="header__menuItem"><a href="{% url 'faq' %}">FAQ</a></li>
          

          <!-- <li class="header__menuItem"><a href="{% url 'account' %}">My Account</a></li> -->
          <li class="header__menuItem"><a href="{% url 'logout' %}" class="btn btn--sub">Logout</a></li>
          {% else %}
          <li class="header__menuItem"><a href="{% url 'register' %}">Become a Tutor</a></li>
          <li class="header__menuItem"><a href="{% url 'faq' %}">FAQ</a></li>
          <li class="header__menuItem"><a href="{% url 'login' %}" class="btn btn--sub">Login/Sign Up</a></li>
         
          {% endif %}
          

        </ul>
      </nav>
    </div>
  </header>